server/main
server/socket
server/GameEngine

server/.vscode
server/Contents

server/main.dSYM
server/socket.dSYM
server/Game.dSYM
server/GameEngine.dSYM

server/config.env

client/main
client/socket

client/.vscode

client/main.dSYM
client/socket.dSYM

